<% content_for :title do %>
<title><%= t('dashboard.left.im') %></title>
<% end %>

  <div class="main container padding">
  <%= render 'dashboard/left' %>
    <iframe
        src="https://apichat.ctcfile.com?lang=<%= params[:locale] %>&type=hh&token=<%= @token %>"
        frameborder="0"
        width="950px"
        height="500px"
    ></iframe>
</div>