<% content_for :title do %>
<title><%= t('About')%></title>

<% end %>

<% content_for :javascript do %>
  <%# <%= javascript_include_tag 'c.js' %>
  <script>
new window.Swiper('.header-banner', {
  loop: true,
  pagination: {
    el: '.swiper-pagination',
  },
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
  autoplay: {
    delay: 3000,
  },
});
</script>
<% end %>
<div class="header-banner">
  <!-- TODO: 大Banner，图片 -->
  <div class="swiper-wrapper">
  <% @banners.each do |banner| %>
    <div class="swiper-slide"><%= link_to banner.url do %>
      <img src=<%= banner.image.url %> alt="">
    <% end %>
    </div>
  <% end %>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>


<div class="container padding" style="min-height: 65vh">
  <% if I18n.locale == :en %>
    <div class="xxsb static-about">
      <div class="static-about-top">
        <div class="left">
          <div class="t1">China Import and Export Fair</div>
          <div class="t2">China Import and Export Fair, known as the Canton Fair, is held biannually in Guangzhou every spring and autumn since 1957. The Fair is a comprehensive fair with the longest history, the highest level, the largest scale, the most complete exhibit variety, the broadest distribution of overseas buyers and the greatest business turnover in China.</div>
        </div>
        <div class="right">
          <img src="https://assets.zjzsxhy.com/upload/75a37a94-5940-49c7-874e-da261361debe.png" alt="">
        </div>
      </div>
      <div class="static-about-img-c">
        <img src="https://assets.zjzsxhy.com/upload/2a923363-a526-42e8-959d-d3e488bfdd76.jpg" alt="">
      </div>
      <div class="static-about-bottom">
        <div class="t1">CANTON FAIR PDC</div>
        <div class="t2">Canton Fair Product Design and Trade Promotion Centre (PDC) was launched in 2011, aiming at providing an efficient service platform for closer cooperation between 'World Design' and 'Made in China'.<br><br>
          Canton Fair is the largest trade fair in China, with more than 25,000 best Chinese enterprises and 200,000 buyers from all over theworld. Based on the rich resources of Chinese enterprises, international buyers and designers. PDC serves as a direct and efficient bridge for design service suppliers, demanders and overseas buyers to create win-win cooperations, share benefits and achieve mutual Goals.<br>
          PDC is a shortcut for international designers to explore the Chinese market, an accelerator for Chinese enterprises to increase product competitiveness and an effecitve way for global buyers to find unique design products&concepts.
          </div>
      </div>
    </div>
  <iframe width="100%" height="500px" frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=x3078q5ztmq" allowFullScreen="true"></iframe>
  <% else %>
    <div class="xxsb static-about">
      <div class="static-about-top">
        <div class="left">
          <div class="t1">中国进出口商品交易会（广交会）概况</div>
          <div class="t2">中国进出口商品交易会，又称广交会，创办于1957年春，每年春秋两季在广州举办，由商务部和广东省人民政府联合主办，中国对外贸易中心承办，是中国目前历史最长、规模最大、商品种类最全、到会采购商最多且分布国别地区最广、成交效果最好、信誉最佳的综合性国际贸易盛会。<br><br>
          广交会历经63年改革创新发展，经受各种严峻考验从未中断，加强了中国与世界的贸易往来，展示了中国形象和发展成就，是中国企业开拓国际市场的优质平台，是贯彻实施我国外贸发展战略的引导示范基地。已成为中国外贸第一促进平台，被誉为中国外贸的晴雨表和风向标，是中国对外开放的窗口、缩影和标志。</div>
        </div>
        <div class="right">
          <img src="https://assets.zjzsxhy.com/upload/75a37a94-5940-49c7-874e-da261361debe.png" alt="">
        </div>
      </div>
      <div class="static-about-img-c">
        <img src="https://assets.zjzsxhy.com/upload/2a923363-a526-42e8-959d-d3e488bfdd76.jpg" alt="">
      </div>
      <div class="static-about-bottom">
        <div class="t1">广交会PDC</div>
        <div class="t2">2011年，广交会设立了产品设计与贸易促进中心（简称PDC），旨在为“世界设计”与“中国制造”的紧密合作提供一个高效的对接服务平台。广交会是中国最大的贸易盛会，每届汇聚了超过25000家中国优质供应链企业和来自全球的20万买家。借助广交会丰富的中国企业资源、国际买家资源与设计师资源，PDC为国内外优秀设计师、有设计需求的中国企业以及国际买家提供一个强强联合、优势互补、合作共赢的设计服务平台。</div>
        <div class="t3">通过PDC<br>
          设计师能快捷、高效地开拓中国市场<br>
          中国企业能借助设计创新提升产品竞争力<br>
          国际买家能寻找到有独特创意的设计概念及产品</div>
      </div>
    </div>
  <iframe width="100%" height="500px" frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=f3078quvn2c" allowFullScreen="true"></iframe>
  <% end %>
</div>