<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="padding: 0; margin: 0;">
  <div style="background: linear-gradient(to right, #00BCB4 0%, #009BDE 100%); padding: 24px;">
    <div style="max-width: 800px; margin: auto;">
      <img src="https://assets.zjzsxhy.com/upload/7d99aad7-e845-4e6c-a864-c419acf8b327.svg" alt="" class="logo">
    </div>
  </div>
  <div style="padding: 80px 24px; max-width: 800px; margin: auto;">
    <div style="padding-bottom: 16px;">
      <%= @locale == :en ? 'Dear user, your verify code is:' : "尊敬的PDC用户，您的验证码为："%>
    </div>
    <div style="font-size: 40px; font-weight: 500; padding-bottom: 16px; color: #1cadc7;">
      <span style="border: #1cadc7 solid 2px; padding: 0 16px; border-radius: 4px;"><%= @verify_code %></span>
    </div>
    <div>
      <%= @locale == :en ? 'Please use it in 30 mins.' : "请在30分钟内使用。"%>
      
    </div>
  </div>
  <div style="background: linear-gradient(to right, #00BCB4 0%, #009BDE 100%); padding: 80px 24px;">
    <div style="max-width: 800px; margin: auto;">
      <div style="font-size: 32px; padding-bottom: 12px;">GLOBAL DESIGNERS ALLIANCES</div>
      <div style="font-size: 18px;">全球设计师联盟</div>
    </div>
  </div>
</body>
</html>